@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    html {
      scroll-behavior: smooth;
    }
  
    ::-webkit-scrollbar {
        width: 6px;
      }
      
      body::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: rgb(20, 20, 20);
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(16, 116, 79);
        border-radius: 3px; 
      }

      @property --rotate {
        syntax: "<angle>";
        initial-value: 132deg;
        inherits: false;
      }  
      
      .card {
        position: relative;
        display: flex;
        justify-content: center;
      }
      
      .card::after {
        position: absolute;
        content: "";
        bottom: 0;
        z-index: -1;
        height: 100%;
        width: 99.5%;
        color: #171717;
        transform: scale(1.012);
        border-radius: 10px;
        filter: blur(3px);
        background-image: linear-gradient(
          var(--rotate)
          , rgba(5, 204, 248), #34d39900, rgba(6, 255, 164));
          opacity: 1;
        transition: opacity 0.5s;
        animation: spin 14s linear infinite;
      }

      @media  (max-width: 900px) {
        .card::after {
          transform: scaleX(1.02) scaleY(1.005) translateX(-15px);
        }
      }
      
      @keyframes spin {
        0% {
          --rotate: 0deg;
        }
        100% {
          --rotate: 360deg;
        }
      }
  }

  